
.footer {
    background-color: rgba(24, 0, 112, 0.56);
    /* background-color: #2c3e50d8; */
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
    font-weight: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    height:50px;
}


#title-container {
    padding-top: 70px;
}

/* .subtitle {
    margin: 0px;
    color: #b1b1b1 !important;
    font-family: 'Montserrat', sans-serif !important;
    text-transform: uppercase;
    font-weight: 300;
} */


 
.nav-theme {
  border-bottom: 2px solid #aaa;
  background-color: rgba(24, 0, 112, 0.56);
  /* background-color: #2c3e50d8; */
  font-size: 20px;
  height:60px;
}

h5{
    color: white;
    padding-left: 20px;
}

h5:hover{
  color:black;
}

/* .animate-navbar {
  box-shadow: 1px 1px 1px #222;
  animation: moveDown 0.5s ease-in-out;
} */

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}



/* About page */

.about {
  font-size: 1.1em;
}

.profile {
  max-width: 20em;
}

.my-details {
    background-color: lightgray;
}

.myname {
  animation: fadeInRight;
  animation-duration: 2s;
} 

 .myimage {
  animation: fadeInLeft;
  animation-duration: 3s;
} 



/* .custom-img {
  height: 100vh;
  object-fit: cover;
} */



/* .card-container {
    max-width: 1000px;
    margin-top: 70px;
    padding-bottom: 100px;
}

.card-title{
    font-size: 17px;
}

.card-text{
    font-size: 12px;
}

.card-link{
    font-size: 12px;   
    
}

.mycard{
    padding-right:30px;
} */


/* contact page */

.contact-jumbotron{
    margin-top: 100px;
    background-color: grey;
}

.contact-li {
    font-size: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 10px;
    font-weight: 100;
    color: black;
}

.contact-icon {
    color: #fda387;
}

#contact-title {
    padding-bottom: 40px;
    color: black !important;
}


/* skills card */

.skills-title, .portfolio-title {
    margin-bottom: 40px;
    margin-top: 120px;
}

.skills-icon {
    color: #fda387;
}

.slide-left {
  animation: slideInLeft;
  animation-duration: 3s;
}

.slide-right {
  animation: slideInRight;
  animation-duration: 3s;
}

.slide-up {
  animation: slideInUp;
  animation-duration: 3s;
}

@media only screen and (min-width: 960px) {
    .design-card-footer {
        position: absolute;
        bottom: 0px;
        width: 80%;
    }

    .design-card {
        position: relative;
    }
}



/* portfolio page */

.portfolio-container{
    margin-top: 100px !important;
}

.pic-container {
    position: relative;
    height: 100%;
}

.project-description {
    color: gray;
    margin-top: 10px;
}

polyline {
    fill: none;
    color:black;
    cursor: pointer;
    /* color: rgb(170, 170, 170); */
}

.portfolio-card-footer {
    border-top: none !important;
    padding-bottom: 40px;
}

.portfolio-card-body {
    padding-bottom: 0px;
}

.project-title {
    padding-top: 15px;
    margin-bottom: 0px;
}

.portfolio-btn {
    border-radius: 20px;
    border: 1px solid rgb(156, 231, 156);
    color: black;
    border: 1px solid #fda387;
    background-color: #fda387;
    margin-left: 12px;
    margin-right: 12px;
    padding: 0px 11px 0px 11px;
    font-size: 10px;

}

.portfolio-btn:hover {
    background-color: #fda387;
    color: white;
    border: none;
}

@media only screen and (max-width: 374px) {
    .portfolio-card-body {
        padding: 15px;
    }

    .project-title {
        padding-top: 0px;
        margin-bottom: 0px;
    }
} 

@media only screen and (max-width: 420px) {
    .project-description {
        font-size: 10px;
    }
} 

@media only screen and (min-width: 375px) {
    .portfolio-btn {
        margin-left: 12px;
        margin-right: 12px;
        padding: 0px 18px 0px 18px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 460px) {

    .portfolio-btn {
        margin-left: 5%;
        margin-right: 5%;
        padding: 0px 24px 0px 24px;
        font-size: 14px;
    }

    .project-title {
        margin-bottom: 15px;
    }
}